# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/

.idea/*

lab 5/client/node_modules
lab 5/server/node_modules