* {
    margin: 0;
    padding: 0;
}

body {
    background-color: forestgreen;
}

a {
    text-decoration: none;
}

header {
    width: 96%;
    display: inline-block;
    background-color: coral;
    position: relative;
    padding: 0 2%;
}

.logo {
    display: inline-block;
    float: left;
    margin-right: 5%;
}

nav ul {
    float: left;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav li a {
    display: inline-block;
    line-height: 68px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

#search {
    height: 30px;
    margin: 19px 0;
    float: right;
    width: 300px;
    padding-left: 10px;
    overflow: hidden;
    font-style: italic;
}
