* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: forestgreen;
    height: 100vh;
}

a {
    text-decoration: none;
}

input {
    padding-left: 10px;
}

/* header */
header {
    width: 100%;
    display: inline-block;
    background-color: coral;
    position: relative;
    padding: 0 2%;
}

.logo {
    display: inline-block;
    float: left;
    margin-right: 3%;
}

nav ul {
    float: left;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav li a {
    display: inline-block;
    line-height: 68px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

#menu-toggle {
    float: right;
    width: 46px;
    height: 46px;
    margin: 10px 0;
    background-color: white;
    display: none;
    cursor: pointer;
}

.display-menu {
    display: block;
}

#search {
    height: 48px;
    margin: 10px 0;
    float: right;
    width: 25%;
    font-style: italic;
}

/* content */

.container {
    height: calc(100vh - 72px);
}


.side {
    padding: 1%;
    width: 200px;
    height: 100%;
    float: left;
    padding-top: 1%;
    background-color: burlywood;
}

.chanel {
    display: flex;
    height: 48px;
    width: 100%;
    margin-top: 10px;
}

.chanel_avatar {
    float: left;
}

.chanel_avatar > img {
    height: 48px;
    width: 48px;
}

.chanel_name {
    padding-left: 5%;
    float: left;
    width: 80%;
    line-height: 48px;
}

.content {
    height: 100%;
    width: calc(100% - 200px);
    float: left;
    background-color: cornflowerblue;
}

.main {
    width: calc(100% - 350px);
    height: 100%;
    float: left;
    padding: 1%;
}

.video_content {
    width: 100%;
    background-color: yellowgreen;
}

.video_content > img {
    width: 100%;
    height: 100%;
}

.video_description {
    height: 70px;
    background-color: white;
    padding: 2%;
}

.chat {
    position: relative;
    padding: 1%;
    width: 350px;
    height: 100%;
    float: left;
    background-color: darkseagreen;
}

.chat-messages {
    height: 94%;
}

.chat-message {
    margin-bottom: 3%;
}


.input-message > input {
    width: 100%;
    height: 60px;
}
